body {
    color: #333;
    background-color: #fffcf5;
    margin: 0%;
    font-family: "Share Tech","Chiron GoRound TC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about {
    display: flex;
    border-bottom: 2px solid #6b6b6b;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.left {
    flex-basis: 60%;
}

.right {
    flex-basis: 40%;
}

.button {
    display: flex;
    padding: 0;
    gap: 20px;
}

.container {
    width: 700px;
    margin: 70px auto;
}
s
.name {
    text-align: left;
    color: #333;
       font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;

    /* border: 3px solid #ccc; 文字邊框

    padding: 10px;
    margin: 100 50 50px;
    border-radius: 50px;
    inset: 50 100 50 50px; */
}

.community {
    text-align: center;
    color: #2c2a2a;
    font-size: 15px;
    border: 1px solid #925e5e;
    padding: 1px;
    margin: 2px;
    /* 簡碼 margin: 上 右 下 左 or 上 左右 下 */
    margin-top: 10px;
    border-radius: 50px;
    flex-basis: 50%;
}

.ig {
    text-decoration: none;
    color: #333;
    letter-spacing: 1px;
}

.community p {
    margin: 10px 0;
}

.photo img {
    max-width: 100%;
    height: auto;
}


.photo img:hover {
    filter: grayscale(100%);
    inset: 30%, 15 15 15 15;
}

.photo {
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
}

.top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
}

.works {
    /* display: flex;
    justify-content: space-between;
    align-items: stretch; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas:
        'w1 w1 w2 w7'
        'w1 w1 w3 w8'
        'w4 w5 w6 w9'
    ;
    margin-top: 30px;
    gap: 5px;
}

.item-1 {
    grid-area: w1;
}

.item-2 {
    grid-area: w2;
}

.item-3 {
    grid-area: w3;
}

.item-4 {
    grid-area: w4;
}

.item-5 {
    grid-area: w5;
}

.item-6 {
    grid-area: w6;
}

.item-7 {
    grid-area: w7;
}

.item-8 {
    grid-area: w8;
}

.item-9 {
    grid-area: w9;
}

.work-item {
    display: flex;
    align-items: end;
    /* border: 1px solid #000; */
    padding: 5px;
    box-sizing: border-box;
}

.work-item p {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* .works {
    display: flex;
    flex-wrap: wrap;
} */

.work-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/4.2;
    object-fit: cover;
}

.work-item {
    position: relative;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    padding: 1px;
    box-sizing: border-box;
    line-height: 0;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000007a;
    color: #ffffff;
    opacity: 0;
    pointer-events: none;
}

.work-item:hover .overlay {
    opacity: 1;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.works {
    opacity: 0;
    animation: fadeInUp 0.9s ease-out 0.2s forwards;
}

.colorblock {
    color: #616161;
    font-size: 9px;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}