body {
    color: #333;
    font-family: sans-serif;
    background-color: #ccc;
    margin: 0%;
}

.container {
    width: 500px;
    margin: 50px auto;
}

.name {
    text-align: center;
    color: #333;

    border: 3px solid #ccc;

    padding: 20px;
    margin: 50px;
    border-radius: 50px;
}

.community {
    text-align: center;
    color: #2c2a2a;
    font-size: 18px;
    border: 1px solid #925e5e;
    padding: 1px;
    margin: 2px;
    /* 簡碼 margin: 上 右 下 左 or 上 左右 下 */
    margin-top: 10px;
    border-radius: 50px;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.photo img:hover {
    filter: grayscale(100%);
}

.photo {
    width: 160px;
    margin: 0 auto 50px;
    overflow: hidden;
    border-radius: 50%;
}

.top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px #b4b5b6;
}

.works {
    /* display: flex;
    justify-content: space-between;
    align-items: stretch; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.work-item {
    flex: shrink 0;
    flex-basis: 33.333%;
    /* border: 1px solid #000; */
    padding: 5px;
    box-sizing: border-box;
}

/* .works {
    display: flex;
    flex-wrap: wrap;
} */

.work-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}